@font-face {
  font-family: "Starburst Medium";
  src: url("starb30.eot?") format("eot"),
    url("./public/Starburst_Medium/starb30.woff") format("woff"),
    url("./public/Starburst_Medium/starb30.ttf") format("truetype"),
    url("../public/Starburst_Medium/starb30.ttf") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  /* height: max-content;
  width: 100%;
  /* background-size: 150vh; */
   
   background: rgba( 255, 255, 255, 0.35 ); 
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
   

  background: url("https://img.freepik.com/fotos-premium/ilustracao-3d-galaxia-do-espaco-sideral-com-estrelas-e-planetas-e-nave-espacial_79217-63.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
